.products__filter {
	text-align: center;
	cursor: pointer;
	position: relative;

	font-family: 'Montserrat', serif;
	font-size: 18px;
	width: 130px;
	height: 30px;

	border: 1px solid #156963;
}

.products__filter > * + * {
	margin-left: 10px;
}

.drops {
	position: absolute;
	width: 130px;
	top: 160%;
	left: -10%;

	background-color: #ffffff;
	z-index: 5;
	box-shadow: 0 0 5px #156963;
}
.drops > * {
	transition: opacity .2s ease;
}
.drops > *:hover {
	opacity: 0.7;
}

.active-drop {
	background-color: #ede9e9;
	color: #156963;
}