.products__sorted {
	display: flex;
	line-height: 20px;
	font-family: 'Montserrat', serif;
	font-size: 20px;

	position: relative;
}

li {
	cursor: pointer;
	display: flex;
	justify-content: center;
	min-height: 35px;
	padding: 0 35px;
	background-color: #ede9e9;
	border-radius: 10px;

	transition: opacity .3s ease;
}

li:hover {
	opacity: 0.7;
}


.products__sorted > * + * {
	margin-left: 20px;
}

.active {
	background-color: #7FFFD4;
	border-radius: 10px;
}