.odds {
	margin: 80px 0;
}

.odds__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	border: 1px solid #E0E0E0;
	max-width: 268px;
}

.odd__inner-img {
	display: inline-block;
	margin-left: 16px;
	margin-top: 16px;
	width: 48px;
	height: 48px;
}

.odds__item > span {
	flex: 0 1 50%;
	margin-left: 16px;
	font-size: 16px;
	color: #156963;
}

.odds__item > p {
	margin: 16px;
	flex: 0 1 100%;
}

.odds__item > * {
	line-height: 24px;
}