.products__cards {
	display: flex;
	flex-wrap: wrap;
}

.products__card-item {
	margin: 5px 10px 5px 0;
	max-width: 225px;
	box-shadow: 0 0 10px rgba(183, 181, 181, 0.85);
}

.products__card-item > * + * {
	margin-top: 16px;
}

.products__card__img {
	max-width: 100%;
	height: auto;
}

.products__card__text {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Montserrat', serif;

	margin-bottom: 10px;
}

.products__card__text > * + * {
	margin-top: 6px;
}
