.basket-wrapper {
	display: flex;
	align-items: center;

	margin: 10px 40px;
	box-shadow: 0 0 10px rgba(183, 181, 181, 0.85);
}

.basket-wrapper > * + * {
	margin-left: 20px;
}

.basket-text > p {
	font-size: 20px;
	line-height: 40px;
}

.basket-empty {
	font-size: 60px;
	margin: 60px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.all-products {
	display: flex;
	justify-content: space-between;

	font-weight: 500;
	font-size: 20px;
}
.all-products + * {
	margin-top: 20px;
}

.Checkout {
	display: flex;
	justify-content: center;
}