.header {
	padding: 15px 0;
	border-bottom: 1px solid #D6D6D6;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__login {
	font-family: 'Nunito Sans', serif;
	font-weight: 700;
	font-size: 18px;
}

.header__login > * + * {
	margin-left: 35px;
}

.header__login {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__login > a > span {
	color: #156963;
}
.header__login > a > * + * {
	margin-left: 10px;
}