.footer {
	flex: 0 0 auto;
	border-top: 1px solid #D6D6D6;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.footer__item {
	flex: 0 1 20%;
}

.footer__item > h2 {
	color: #156963;
	margin-bottom: 24px;
}

.footer__item > p {
	line-height: 26px;
}