.content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.wrapper {
	padding: 20px 50px;
}

.wrapper-elements {
	display: flex;
	justify-content: space-between;
}

.products__sort-filter {
	align-items: center;
	display: flex;
	justify-content: space-between;

	position: relative;
}

.products__sort-filter:before {
	content: '';
	width: 100%;
	position: absolute;
	border-bottom: 1px solid #E0E0E0;
	top: 150%;
}

.relax {
	margin: 80px 0;
}

.relax__inner {
	display: flex;
	justify-content: space-between;
}

.relax__inner__left-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 40%;
	font-family: 'Montserrat', serif;
}

.relax__inner-text > h2 {
	margin-left: 20px;
	font-size: 40px;
	line-height: 56px;
}

.relax__inner-text > p {
	margin-left: 20px;
	line-height: 28px;
}

.relax__inner-img {
	width: 100%;
}

.relax__inner__right-content {
	width: 40%;
}