*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Nunito',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, svg {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #156963;

  box-shadow: none;
  background: transparent none;
  cursor: pointer;

  transition: .3s opacity ease;
}

button:hover {
  opacity: 0.7;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  min-height: 40px;
  padding: 0 50px;
  background-color: #156963;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}
