.slider__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider__text {
	width: 40%;
	font-family: 'Montserrat', serif;
}

.slider__text > h2 {
	color: #156963;
	line-height: 83px;

	font-size: 60px;
	font-family: inherit;
	font-weight: 500;
}

.slider__text > p {
	font-size: 18px;
}

.slider__buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;

	font-family: 'Montserrat', serif;
	font-size: 32px;
}

.slider__buttons > * + * {
	margin-left: 20px;
}

.slider__wrapper {
	max-width: inherit;
}

.slider__img {
	height: 700px;
	width: 50%;
}

.slider__item {
	position: relative;
	animation: sliders .9s linear 1;
}

@keyframes sliders {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}