.reg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > input {
	width: 100%;
	height: 30px;
	display: block;
	border: 1px solid #999999;
	border-radius: 4px;
}

form > * + * {
	margin-top: 20px;
}